@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.pagina {
    box-sizing: border-box;
    background-color: hsl(171, 3%, 49%);
    color: #f6f6f6f6;
    font-family: "Montserrat", sans-serif;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: #22d4fd;
    font-weight: 600;
    font-size: 24px;
}

.apresentacao {
    padding: ;

}

.apresentacao__conteudo {
    padding: 2%;
    width: 1000%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    color: #22d4fd;
    font-size: 40px;
}

.apresentacao__conteudo__titulo__nome {
    font-size: 70px;
    color: black;
}

.apresentacao__conteudo__titulo__resumo {
    font-size: 30px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 20px;
}

.image {
    height: 25px;
    border: #22d4fd solid 2px;
}